mexFiles/
mexFiles/compiled
!mexFiles/compiled/emC_autoAlign.sh
bin/
lib/
testScripts/EMC_test/logTest/
testScripts/EMC_test/logPerf/
testScripts/EMC_test/fixtures
*.orig
.vscode

# Things leftover from partial builds
testScripts/emClarity_*
testScripts/run_emClarity_*
testScripts/includedSupportPackages.txt
testScripts/mccExcludedFiles.log
testScripts/readme.txt
testScripts/requiredMCRProducts.txt
testScripts/unresolvedSymbols.txt
